<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Fast Food Fast | Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/foodgallery.css">
</head>
<body>
	<header>
		<div class="headnav">
		<div class="container">
				<div id="brandname">
				<h1>Fast Food Fast</h1>
			</div>
			<nav>
				<ul>
					
					<li><a href="http://localhost:3000menu">Place Order</a></li>
					<li><a href="http://localhost:3000orders">History</a></li>
					<li><a href="http://localhost:3000messages">Messages</a></li>
					<li><a href="http://localhost:3000logout">Log Out</a></li>
				</ul>
			</nav>
		</div>
		</div>
	</header>

	{{{body}}}

	<footer>
		<p>Fast Food Fast Copyright &copy; 2018</p>
	</footer>

</body>
</html>