	<div class="container">
<h1>ALL RECORDS</h1>
	</div>
<div class="container">
	
<table id="adminOrders" >
  <tr>
    <th>OrderID</th>
    <th>UserID</th>
    <th>Food</th>
    <th>Quantity</th>
    <th>Price (N)</th>
    <th>Date Ordered</th>
    <th>Status</th>
  </tr> 
  
</table>
	</div>
  <script src="/js/admin_js/adminOrders.js"></script> 
