	<div class="container">
<h1>Our Menu</h1>
	</div>
		
	</div>
	<div id="checkout">
		<h2>Order Summary<hr></h2>
			<p id="foodName"></p>
			<div class="total">
			<input type="text" id="total" name="" value="Amount: 0" readonly="true">
			</div>
			<div class="submitorder">
			<button onclick="submitOrderButton()" id="checkOut_btn" type="submit">Submit</button>
			</div>
		</div>
	
	<div class="container">
		<table id="food-menu">
  <tr>
    <th>s/n</th>
    <th>food</th>
    <th>Description</th>
    <th>Price</th>
    <th>Add to Order</th>
  </tr>
</table>
	</div>
	{{{menu}}}
<script type="text/javascript" src="/js/addOrder.js"></script>
<script type="text/javascript" src="/js/food-menu-dashboard.js"></script>
