

		<div class="container">
<h1>Our Menu</h1>
	</div>
	<hr>
	
	<div class="container">
		<table id="food-menu">
  <tr>
    <th>s/n</th>
    <th>food</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
</table>
	</div>
	<script type="text/javascript" src="/js/food-menu.js"></script>