	<div class="container">
<h1>Messages</h1>
	</div>
	<div class="container">
	
<table id="inbox">
  <tr>
    <th>s/n</th>
    <th>Message</th>
    <th>Received</th>
    
  </tr>

</table><br>

	</div>
	<div class="container">
		<div id="signup">
			<h1>Send Message to Admin</h1>
			
	        <label>Your name:</label>
	        <input type="text" id="msgName">
	        <label>Enter Message:</label>
	        <textarea id="txtMsg"></textarea>
	        <button onclick="sendMsg()">Send</button>
		</div>
		<p id="errors"></p>
	</div>
	<script type="text/javascript" src="/js/JSbuttons.js"></script>
	<script type="text/javascript" src="/js/getMessages.js"></script>