<div class="container">
		<div id="signup">
			<h1>Log in</h1>
			<label>Sign in and start ordering from our sumptious menu!!..</label><br>
	        <label>Enter Username:</label>
	        <input type="text" id="txtusername">
	        <label>Enter Password:</label>
	        <input type="password" id="txtpassword"><br>
	        <button onclick="signIn()" id="buttonSignin">Sign In</button>
		</div>
		<p id="errors"></p>
	</div>

	<script type="text/javascript" src="/js/JSbuttons.js"></script>