<div class="container">
<h1>A Users' Orders</h1>
	</div>

	<div class="container">
	
<table id="history">
  <tr>
    <th>Order ID</th>
    <th>User ID</th>
    <th>Food</th>
    <th>Quantity</th>
    <th>Price (N)</th>
    <th>Date Ordered</th>
    <th>Status</th>
    <th></th>
  </tr>



</table>		
</div>
<script src="/js/admin_js/userorders.js"></script>