  <div class="container">
    <h1>Messages</h1>
  </div>
  <div class="container">

    <table id="inbox">
      <tr>
        <th>s/n</th>
        <th>UserID</th>
        <th>Message</th>
        <th>Received</th>
        
      </tr>


    </table><br>

  </div>
  <div class="container">
    <div id="signup">
      <h1>Send Message to A User</h1>

      <label>Reseivers User ID:</label>
      <input type="text" id="msgName">
      <label>Message:</label>
      <textarea id="txtMsg"></textarea>
      <button onclick="sendAdminMsg()">Reply</button>
    </div>
    <p id="errors"></p>
  </div>
  <script type="text/javascript" src="/js/admin_js/getAdminMessages.js"></script>
