 <div class="container">
    <div id="signup">
      <h1>DELETE FOOD ITEM</h1>
      
          <label>Food Display Name:</label>
          <input type="text" id="foodName">

          <label id="LabelFoodPrice">Price:</label>
          <input type="text" id="foodPrice">
          
          <label id="LabelFoodDesc">Description</label>
          <textarea id="foodDesc"></textarea>


          <button id="btnUpdateDetails" onclick="deleteDetails()">Delete Food</button>
          <button id="btngetDetails" onclick="getDetails()">Get Details</button>
    </div>
    <p id="errors"></p>
  </div>
  <script type="text/javascript" src="/js/admin_js/deletefood.js"></script>