<div class="container">
    <div id="signup">
      <h1>ADD FOOD ITEM</h1>
      
          <label>Food Display Name:</label>
          <input type="text" id="foodName">
          <label>Price per serving:</label>
          <input type="text" id="foodPrice">
          <label>Description:</label>
          <textarea id="desc"></textarea><br>

          <button onclick="addFood()">Add</button>
    </div>
    <p id="errors"></p>
  </div>
  <script type="text/javascript" src="/js/admin_js/addFood.js"></script>